name: C++ fundamentals - add even

on: [pull_request]

jobs:
  fibonacci:
    runs-on: ubuntu-latest
    env:
      path: homework/add-even/build
    steps:
    - name: Check out code
      uses: actions/checkout@master
    - name: Create build directory
      run: mkdir ${{ env.path }}
    - name: Compile
      working-directory: ${{ env.path }}
      run: |
        cmake ..
        make
    - name: Run tests
      working-directory: ${{ env.path }}
      run: ctest -V
